config/firebase-service-key.json
config/google-service-key.json

upload/
.env

FrontEnd/

spacy-ner/env/

data/
spacy-ner/output/

spacy-ner/train_data.json

spacy-ner/__pycache__/
.idea/
node_modules/